Abstract/abstract.aux
Chapter1/chapter1.aux
Chapter2/chapter2.aux
Chapter3/chapter3.aux
Glossary/glossary.aux
PaperSummaries/summaries.aux
thesis-info.aux
thesis-info.fdb_latexmk
thesis-info.fls
thesis-info.log
thesis.aux
thesis.bbl
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.idx
thesis.ilg
thesis.ind
thesis.log
thesis.nlo
thesis.out
thesis.pdf
thesis.toc
thesis.synctex.gz
*.gz
